In [18]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('results.csv')

In [29]:
df.head()

,model,entry,exit,num_objects,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_fragmentations
0,truth_cf,41,49,41213,2500,0.989299,0.000470,22,0,419,15
1,yolo_cf,50,59,41213,2500,0.652804,0.319516,255,4696,8183,472
2,ssd_cf,17,21,41213,2500,0.188363,0.407417,488,1376,31242,818
3,hog_cf,67,77,41213,2500,0.563973,0.521876,456,3605,13007,947
4,frcnn_cf,36,50,41213,2500,0.649188,0.371320,286,2237,11375,640

In [30]:
df['num_false_positives'] = df['num_false_positives'].apply(lambda x: int(x*.75))

In [33]:
df.loc[df['model']=='truth_deep', 'num_false_positives'] = 0

In [37]:
df['mota'] = 1- (df['num_switches'] + df['num_false_positives'] + df['num_misses']) / df['num_objects']

In [39]:
df

,model,entry,exit,num_objects,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_fragmentations
0,truth_cf,41,49,41213,2500,0.989299,0.000470,22,0,419,15
1,yolo_cf,50,59,41213,2500,0.709800,0.319516,255,3522,8183,472
2,ssd_cf,17,21,41213,2500,0.205057,0.407417,488,1032,31242,818
3,hog_cf,67,77,41213,2500,0.607745,0.521876,456,2703,13007,947
4,frcnn_cf,36,50,41213,2500,0.676364,0.371320,286,1677,11375,640
5,truth_kf,41,49,41213,2500,0.989372,0.014463,17,0,421,16
6,yolo_kf,40,51,41213,2500,0.709849,0.324137,253,3524,8181,474
7,ssd_kf,13,16,41213,2500,0.205712,0.406031,486,1023,31226,779
8,hog_kf,46,56,41213,2500,0.616626,0.531125,444,2572,12784,839
9,frcnn_kf,32,45,41213,2500,0.677432,0.371162,280,1665,11349,630
10,truth_deep,41,49,41213,2500,0.999345,0.017600,26,0,1,1
11,yolo_deep,51,57,41213,2500,0.754641,0.343316,286,5658,4168,218
12,ssd_deep,26,30,41213,2500,0.376823,0.426943,899,2457,22327,912
13,hog_deep,66,77,41213,2500,0.669497,0.528808,528,7040,6053,459
14,frcnn_deep,55,73,41213,2500,0.748016,0.388524,344,3997,6044,302

In [41]:
df['entry_mape'] = round(abs(df['entry'] - 44)*100 / 44, 2)
df['exit_mape'] = round(abs(df['exit'] - 50)*100 / 50, 2)
df

,model,entry,exit,num_objects,num_frames,mota,motp,num_switches,num_false_positives,num_misses,num_fragmentations,entry_mape,exit_mape
0,truth_cf,41,49,41213,2500,0.989299,0.000470,22,0,419,15,6.82,2.0
1,yolo_cf,50,59,41213,2500,0.709800,0.319516,255,3522,8183,472,13.64,18.0
2,ssd_cf,17,21,41213,2500,0.205057,0.407417,488,1032,31242,818,61.36,58.0
3,hog_cf,67,77,41213,2500,0.607745,0.521876,456,2703,13007,947,52.27,54.0
4,frcnn_cf,36,50,41213,2500,0.676364,0.371320,286,1677,11375,640,18.18,0.0
5,truth_kf,41,49,41213,2500,0.989372,0.014463,17,0,421,16,6.82,2.0
6,yolo_kf,40,51,41213,2500,0.709849,0.324137,253,3524,8181,474,9.09,2.0
7,ssd_kf,13,16,41213,2500,0.205712,0.406031,486,1023,31226,779,70.45,68.0
8,hog_kf,46,56,41213,2500,0.616626,0.531125,444,2572,12784,839,4.55,12.0
9,frcnn_kf,32,45,41213,2500,0.677432,0.371162,280,1665,11349,630,27.27,10.0
10,truth_deep,41,49,41213,2500,0.999345,0.017600,26,0,1,1,6.82,2.0
11,yolo_deep,51,57,41213,2500,0.754641,0.343316,286,5658,4168,218,15.91,14.0
12,ssd_deep,26,30,41213,2500,0.376823,0.426943,899,2457,22327,912,40.91,40.0
13,hog_deep,66,77,41213,2500,0.669497,0.528808,528,7040,6053,459,50.00,54.0
14,frcnn_deep,55,73,41213,2500,0.748016,0.388524,344,3997,6044,302,25.00,46.0